{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <header class="tm-header" id="tm-header">

    </header>
    <div class="container-fluid">
        <main class="tm-main">

            <div class="tm-post-full">
                <h2 class="pt-2 tm-color-primary tm-post-title">{{ publication.title }}</h2>
                <p class="tm-mb-40">{{ publication.created_at }}</p>

                <img src="{% static 'img/img-01.jpg' %}" alt="Image" class="img-fluid">

                <p>{{ publication.content }}</p>

                <span class="d-block text-right tm-color-primary">
                    <a href="{% url 'publication-detail-url' pk=publication.pk %}">Подробнее</a>
                </span>
            </div>

            <div>
                <h2 class="tm-color-primary tm-post-title">Comments</h2>
                <hr class="tm-hr-primary tm-mb-45">
                {% for item in comments %}
                    <div class="tm-comment">
                        <figure class="tm-comment-figure">
                            <figcaption class="tm-color-primary text-center">{{ item.name }}</figcaption>
                        </figure>
                        <p>{{ item.text }}</p>
                        <span class="d-block text-right tm-color-primary">{{ item.created_at }}</span>
                    </div>
                    <hr>
                {% endfor %}
            </div>

            <div class="tm-comment-reply tm-mb-45">
                <form method="POST" action="{% url 'publication-detail-url' pk=publication.pk %}" class="mb-5 tm-comment-form">
                    {% csrf_token %}
                    <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>

                    <div class="mb-4">
                        <input class="form-control" name="name" type="text" placeholder="Ваше имя" required>
                    </div>
                    <div class="mb-4">
                        <textarea class="form-control" name="text" rows="6" placeholder="Введите ваш текст" required></textarea>
                    </div>
                    <div class="text-right">
                        <button class="tm-btn tm-btn-primary tm-btn-small" type="submit">Отправить</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</body>
{% endblock %}
